/* Тёмная тема */
.dark {
  --vp-c-bg: #0d0d0d;
  --vp-c-bg-soft: #141414;
  --vp-c-bg-mute: #1a1a1a;
  --vp-c-bg-alt: #0d0d0d;
  --vp-sidebar-bg-color: #0d0d0d;
  --vp-nav-bg-color: #0d0d0d;
  --vp-c-divider: #222222;
  --vp-c-gutter: #080808;
}

html.dark {
  background-color: #0d0d0d !important;
}

/* Светлая тема */
:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-mute: #eeeeee;
}

/* Контейнеры */
.vp-doc .custom-block.tip { border-color: #5eead4; }
.vp-doc .custom-block.warning { border-color: #fbbf24; }
.vp-doc .custom-block.danger { border-color: #f87171; }
